.flexCenter {
	display: flex;
	justify-content: center;
	align-items:center;
}
.titleName {
	color: blue ;
	font-size: 50px ;
	margin-bottom: 5% ;
	margin-top: 3% ;
}
.inputTempbox {
	border: 1px solid ;
	width:968px;
	min-height: 200px ;
}