html,body {
	height: 100% ;
}
span {
	color: red;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100% ;
}
.center_container {
	width: 50% ;
	border:3px dotted blue;
	height: 50%;
}

.input_container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom:1px solid blue;
	width: 100% ;
	height: 15%;
}
.text_container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.check_container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.display {
	width: 100%;
	height: 85% ;
}
.selection {
	overflow: auto;		
}
.frame {
	display: none;
}

